/*info stylesheet*/
.header-home .navbar.navbar-default {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.header-home .navbar.navbar-default {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.navbar {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-top-color: rgb(231, 231, 231);
    border-right-color: rgb(231, 231, 231);
    border-bottom-color: rgb(231, 231, 231);
    border-left-color: rgb(231, 231, 231);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 70px;
    margin-bottom: 0;
}
.navbar-brand{
    height: 70px;
    padding: 2px 10px;
}
 .navbar .navbar-brand img {
    max-width: 100%;
}
.navbar-brand>img{
    display: block;
}
.fa-stack, img {
    vertical-align: middle;
}
img {
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#header li.nav-register .welcome-parent-box {
    height: 100%;
    font-size: 14px;
}

.navbar .nav>li {
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
    text-align: center;
}
.nav>li>a {
    display: block;
    position: relative;
}
a {
    color: #26ad63;
    text-decoration: none;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;
}
.collapse {
    display: none;
    visibility: hidden;
}
.navbar .nav-container ul {
    background-color: #009fe4;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center; 
}