
.header
{
    height: 100vh;
}
 .navbar-style{
    box-shadow: 0 1px 1px #efefef;
    text-transform: uppercase;     
}

.logo{
    height: 70px;
    padding: 2px 10px;
}

.icon-bar{
    background: limegreen;
    margin-top: 10px;
}

.navbar-right li{
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    color: green;
}

li a{   
    color: rgb(87, 189, 39);
    font-weight: normal;  
    /* color: limegreen;*/
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
#home{
    background: url("pics/home.jpeg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top: 2px;
}

.farmer-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.farmer-text h1{
    font-size: 490%;
    font-weight: 700%;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: rgb(4, 194, 4);	
    ;
}
.farmer-text h4{
    font-size:160%;
    font-weight: 100%;
    font-family: 'Arial',sans-serif;
    font-style: normal;
    color: #F2E30F;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;    
    border-radius: 20px;
}

a.btn-first
{
    background-color:  rgb(17, 146, 17);
    color: #fff;
}

a.btn:hover
{
    background:  rgb(28, 189, 28);
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.alert.important-news{
    height: 40px;
    margin-bottom: auto;
    padding-top: 2px;
    padding-bottom: 5px;
   
}

.alerting-info{
    background-color: #F7DC6F;
    border-color: rgb(17, 146, 17);
    border-top-color: rgb(17, 146, 17);
    border-right-color: rgb(17, 146, 17);
    border-bottom-color: rgb(17, 146, 17);
    border-left-color: rgb(17, 146, 17);
    color: rgb(17, 146, 17);
    width: 100%;
   
}

.alert{
    padding: 10px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*-----------website-features-----------------*/
.website-features
{
    margin: 60px 0;
    margin-top: 20px;
}
.website-features img
{
     width: 35%;    
}
.section{
    display: block;
    
}
.section-about-CWT{
    background-color: rgb(223, 241, 223);
    padding-bottom: 60px;
}
.section.row{
    position: relative;
    margin-left: 15px;
    margin-right: 15px
}
.section p {
    margin: 0 0 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.section.next-section {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: block;
    background: #ecffe1;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(225, 246, 255);
    font-size: 30px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    text-align: center;
    top: -28px;
}
.next-section a {
    color: #57c940;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.section.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.fa {
    font: normal normal normal 14px/1 'FontAwesome';
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: inherit;
    line-height: 1;
    font-family: 'FontAwesome';
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    text-rendering: auto;
    display: inline-block;
}
select{
    width: 100%;
    height: 40px;
    border: 0px;
    border-color: none;

}

/*----about----*/
#about
{
    padding-top: 1px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
    background: limegreen;
    border: green;
}
.about-content
{
    padding-top: 20px;
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
    background-color: #AC0D2B;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
    background-color: #AC0D2B;
}
/*--------services-----------*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(pics/cover.jpg);
   background-size: cover;
   background-position: fixed;
   color: #efefef !important;
   background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
    padding-bottom: 45px;
}
.icon
{
    font-size: 30px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover
{
    background:transparent;
    background: limegreen;
    background:transparent;
    cursor: pointer;
    transition: 0.7s;
    transform: scale(1.1);
}
/*-------featured-categories CSS-------*/
.featured-categories
{
    margin: 50px 0;
}
.featured-categories img
{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover
{
    transform: scale(1.1);
}

.feature-text{
    float: right;
    width: 80%;
    padding-left: 30px;
    text-align: center;
}

.feature-box
{
    padding-top: 20px;
}
/*----------Promo----------*/
#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
    font-size: 38px;
    padding-bottom: 50px;
}
#promo .btn
{
   background: limegreen;
    border: green; 
}

/*-----Get In Touch--------*/
#contact
{
    background: #A9A9A9;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #333;
} 
#contact h1
{
    text-align: center;
    color: #333;
    padding-bottom: 10px;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
  border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999 !important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
#promo h1
{
    font-size:34px;
    font-weight:700;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    color: #efefef;
    line-height: 1.284em;
}

div{
    padding: 3px;
    margin: auto;
}
#promo h3
{
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}
#promo h1::after
{
    content: '';
    background: limegreen;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
  
}
.icon
{
    font-size: 30px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#promo p
{
      margin-top: 20px;
    color: #ccc;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;    
}

.services .col-md-4{
    padding-right: 15px;
    padding-top: 20px;
}
/*-----------footer-------------*/
.footer
{
    margin-top: 0px;
    background: #000;
    color: #fff;
}
.footer h1
{
  font-size: 15px;
    margin: 25px 0;
}
.footer p
{
    font-size: 12px;
}
.modal-footer
{
    margin-top: 0px;
    background: #0eb337;
    color: #fff;
    text-align: center;
    vertical-align:middle;

}
.modal-footer h
{
  font-size: 15px;
  margin: 25px 0;
}
.modal-footer p
{
    font-size: 12px;
}
.modal-header{
 margin-top: 0px;
    background: rgb(247, 244, 244);
    color: #8fbc8f;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: none;
}
.modal-main
{
    margin-top: 0px;
    background: #0eb337;
    color: #fff;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: none;
}
.modal
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(pics/home.jpeg);
}

.contact-form .btn-first{
    color: aliceblue;
    background-color: #0eb337;

}
.contact-form .btn-first:hover{
    color: aliceblue;
}
.md-outline.select-wrapper label {
    top: .5em !important;
    z-index: 2 !important;
    }
/*info stylesheet*/
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#header li.nav-register .welcome-parent-box {
    height: 100%;
    font-size: 14px;
}

.navbar .nav>li {
    margin-top: 0;
    margin-bottom: 0;
    height: 100px;
    text-align: center;
}
.nav>li>a {
    display: block;
    position: relative;
}
a {
    color: #26ad63;
    text-decoration: none;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;
}
.collapse {
    display: none;
    visibility: hidden;
}
.navbar .nav-container ul {
    background-color: #009fe4;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center; 
}