
.header
{
    height: 100vh;
}
 .navbar-style{
    box-shadow: 0 1px 1px #efefef;
    text-transform: uppercase;     
}

.logo{
    height: 70px;
    padding: 2px 10px;
}

.icon-bar{
    background: limegreen;
    margin-top: 10px;
}

.navbar-right li{
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    color: green;
}

li a{   
    color: #5DA63C;
    font-weight: normal;  
    /* color: limegreen;*/
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
#home{
    background: url("pics/home.jpeg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top: 2px;
}

.farmer-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.farmer-text h1{
    font-size: 490%;
    font-weight: 700%;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: rgb(4, 194, 4);	
    ;
}
.farmer-text h4{
    font-size:160%;
    font-weight: 100%;
    font-family: 'Arial',sans-serif;
    font-style: normal;
    color: #F2E30F;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;    
    border-radius: 20px;
}

a.btn-first
{
    background-color:  rgb(17, 146, 17);
    color: #fff;
}

a.btn:hover
{
    background:  rgb(28, 189, 28);
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.alert.important-news{
    height: 40px;
    margin-bottom: auto;
    padding-top: 2px;
    padding-bottom: 10px;
}

.alerting-info{
    background-color: #AC0D2B;
    border-color: rgb(17, 146, 17);
    border-top-color: rgb(17, 146, 17);
    border-right-color: rgb(17, 146, 17);
    border-bottom-color: rgb(17, 146, 17);
    border-left-color: rgb(17, 146, 17);
    color: rgb(17, 146, 17);
    width: 100%;
   
}

.alert{
    padding: 15px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*
.big-text
{
    font-size: 52px;
    margin: 20px 0;
    color: darkgreen;
}
a.btn-first
{
    background-color: black;
    color: #fff;
}

a.btn-second
{
    background: transparent;
    border: 1px solid darkgreen;
    color: green;
}


/*-----------website-features-----------------*/
.website-features
{
    margin: 60px 0;
    margin-top: 20px;
}
.website-features img
{
     width: 35%;    
}
/*----about----*/
#about
{
    padding-top: 1px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px; 
}
.about-content
{
    padding-top: 20px;
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;
    background-color: #AC0D2B;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 20px;
    background-color: #AC0D2B;
}
/*--------services-----------*/
#services
{
   background-image : url(pics/cover.jpg);
   background-size: cover;
   background-position: fixed;
   color: #efefef !important;
   background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 30px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover
{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*-------featured-categories CSS-------*/
.featured-categories
{
    margin: 50px 0;
}
.featured-categories img
{
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover
{
    transform: scale(1.1);
}
.feature-text
{
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}
.feature-box
{
    padding-top: 20px;
}

/*-----------footer-------------*/
.footer
{
    margin-top: 50px;
    background: #000;
    color: #fff;
}
.footer h1
{
  font-size: 15px;
    margin: 25px 0;
}
.footer p
{
    font-size: 12px;
}
